@font-face {
    font-family: 'Madfont';
    src: url(../FuenteLogo/madfont.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: 'CopseRegular';
    src: url(../Fuente/Copse-Regular.ttf) format("truetype");
}

body {
    margin: 0;
}

.title p {
    font-family: 'Madfont';
    font-size: 1.5em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px;
    background-color: #58A0B9;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 5%;
    margin-left: 3%;
}

.logoimg {
    width: 100%;
    height: 100%;
}

.logoimg img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 3px 3px rgb(255, 255, 255);
    border-radius: 100%;
}

.fa-bars {
    margin-left: 50%;
    cursor: pointer;
    color: red;
    font-size: 25px;
}

.drop-menu {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.drop-menu > .menu ul {
    list-style-type: none;
    margin-right: 10px;
}

.drop-menu > .menu a {
    text-decoration: none;
    color: black;
}

.menu {
    position: absolute;
    right: 0;
    top: 78px;
    max-height: 0;
    overflow: hidden;
    background-color: #58A0B9;
}

.open {
    max-height: 20vh;
    height: 20vh;
}

.fa-gear {
    color: red;
    margin-right: 5px;
}