body{
    margin: 0;
    height: 100vh;
    background-image: url("../../Image/equipo.jpg");
    background-repeat: no-repeat;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "person1 . person2"
    "person3 . person4";
    height: calc(100vh - 102px);
}

.person1{
    grid-area: person1
}

.person2{
    grid-area: person2;
}

.person3{
    grid-area: person3;
}

.person4{
    grid-area: person4;
}

.information, .imgperson{
    text-align: center;
}

p, h2{
    font-family: 'CopseRegular';
    color: white;
}


.information p{
    font-size: 1.5em;
}

h2{
    font-size: 2em;
}

.title p{
    color: black;
}

.footer{
    color: white;
}

@media only screen and (max-device-width : 575px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "person1"
        "person2"
        "person3"
        "person4";
        height: 93vh;
    }
}