body{
    margin: 0;
    height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "person1 . person2"
    "person3 . person4"
    "footer footer footer";
    height: 100vh;
}

.person1{
    grid-area: person1
}

.person2{
    grid-area: person2;
}

.person3{
    grid-area: person3;
}

.person4{
    grid-area: person4;
}

.footer{
    grid-area: footer;
}

.information, .imgperson{
    text-align: center;
}

p, h2{
    font-family: 'CopseRegular';
    color: #CF3A10;
}

.information p{
    font-size: 2em;
}

h2{
    font-size: 2.5em;
}

.title p{
    color: black;
}