body,html{
    margin: 0;
    font-family: 'CopseRegular';
}

.titulo{
    background-color: #CF3A10;
    padding: 4px;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}
/* .titulo h3{
    text-align: center;
} */

main{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    grid-gap: 1%;
}

.card{
    background-color: #58A0B9;
    border-radius: 5px;
    box-shadow: 4px 1px 4px 4px gainsboro;
    height: max-content;
    width: 100%;
}

.cardimg {
    width: 100%;
    height: 500px;
}

.cardimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.titulo{
    text-align: left;
    text-decoration: underline;
    border-radius: 5px;
    color: white;
    padding: 1%;
    background-color: #CF3A10;
}

.info{
    text-align: center;
    font-size: x-large;
}

header {
    grid-column: 1/-1;
}

footer {
    grid-column: 1/-1;
}

@media screen and (max-device-width: 575px) {
    main {
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    }

    .cardimg {
        width: 100%;
        height: 400px;
    }
}
