.portada {
    max-width: 100%;
}

.portada img {
    width: 100%;
    max-height: calc(100vh - 88px);
    object-fit: cover;
}

@media only screen and (max-device-width: 575px){
    .title p {
        font-size: 0.95em;
    }

    .logo {
        max-width: 3em;
    }

    .button-menu i {
        cursor: pointer;
        color: black;
        font-size: 1em;
    }
}
