body{
    margin: 0;
    height: 100vh;
}

p, h3{
    font-family: 'CopseRegular';
}

h2{
    font-family: 'CopseRegular';  
}

.map{
    text-align: center;
}

.title-page h3{
    text-align: left;
    text-decoration: underline;
    border-radius: 5px;
    color: white;
    padding: 2%;
    background-color: #CF3A10;
}