body{
    margin: 0;
    height: 100vh;
}

p, h3{
    font-family: 'CopseRegular';
}

h2{
    font-family: 'CopseRegular';  
}

.map{
    text-align: center;
}

.title-page h3{
    text-align: left;
    text-decoration: underline;
    border-radius: 5px;
    color: white;
    padding: 2%;
    background-color: #CF3A10;
}

@media only screen and (max-device-width : 575px) {
    p{
        font-size: 25px;
    }

    h2{
        font-size: 32px;
    }

    h3{
        font-size: 40px;
    }
}