

@media only screen and (max-width: 575px){


    fieldset, input, textarea, select, button{
        border-radius: 5px;
        padding: 5%;
    }

    input, textarea, select, button{
        border-radius: 5px;
        cursor: pointer;
    }


    input[type="submit"]{
       margin-right: 10%;
    }

    input[type="submit"]:hover{
        border-color: red;
        background-color: rgba(255, 0, 0, 0.364);
    }

    button[id="return"]{
        margin-left: 10%;
    }
    button[id="return"]:hover{
        border-color: red;
        background-color: rgba(255, 0, 0, 0.364);
    }

    .title-page{
        text-align: center;
        text-decoration: underline;
    }

    .mv-label{
        display: none;
    }

    .mv-input{
        width: 90%;
        margin: 1%;

    }

    .mv-select{
        width: 70%;
        margin: 1%;

    }

    .mv-textarea{
        width: 90%;
        margin: 1%;

    }

    .mv-label-checkbox{
        text-decoration: none;
    }

    .formulario{
        text-align: center;
    }

    .mv-fieldset-labels{
        text-align: left;
    }

    .mv-fieldset-labels input{
        text-align: right;
    }

}