
@media only screen and (min-width: 768px){
    .formulario{
        display: grid;
        grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
        grid-template-areas: 
        ". inputs inputs ."
        ". textarea textarea ."
        ". checks checks ."
        ". submit submit .";
    }

    .inputs{
        display: grid;
        grid-area: inputs;
    }

    .textareas{
        display: grid;
        grid-area: textarea;
    }

    .checkbox{
        display: grid;
        grid-area: checks;
    }

    .submit{
        display: grid;
        grid-area: submit;
    }

    main{
        font-size: larger;
    }

    fieldset{
        background-color: #CF3A10;
        box-shadow: 4px 1px 7px 1px;
        text-align: center;
        color: white;
    }

    .input-div, .textarea-div, .select-div{
        display: flex;
        margin: auto;
        text-align: left;
        width: 70%;
    }

    label{
        padding: 5%;
    }
    

    fieldset, input, textarea, select, button{
        border-radius: 5px;
        padding: 5%;
    }

    input, textarea, select, button{
        border-radius: 5px;
        cursor: pointer;
    }


    input[type="submit"]{
       margin-right: 10%;
    }

    input[type="submit"]:hover{
        border-color: #CF3A10;
        background-color: rgba(255, 0, 0, 0.364);
        color: white;
        box-shadow: 4px 1px 7px 1px;
    }

    button[id="return"]{
        margin-left: 10%;
    }
    button[id="return"]:hover{
        border-color: #CF3A10;
        background-color: rgba(255, 0, 0, 0.364);
        color: white;
        box-shadow: 4px 4px 7px 1px;
    }

    .title-page{
        text-align: left;
        text-decoration: underline;
        background-color: #CF3A10;
        border-radius: 5px;
        color: white;
    }

    .title-page h1{
        padding: 2%;
    }

    

    .mv-radio{
        color: white;
    }

    .mv-input{
        width: 100%;
        margin: 1%;
    }

    .mv-select{
        width: 100%;
        margin: 1%;

    }

    .mv-textarea{
        width: 100%;
        margin: 1%;

    }

    .mv-label-checkbox{
        color: white;
    }

    .mv-fieldset-labels{
        text-align: center;
    }

    .mv-fieldset-labels input{
        text-align: right;
    }
}



@media only screen and (min-width: 576px) and (max-width: 767px){

    fieldset{
        background-color: #CF3A10;
        box-shadow: 4px 1px 7px 1px;
        text-align: center;
        color: white;
    }

    .input-div, .textarea-div, .select-div{
        display: inline-block;
        text-align: left;
        width: 70%;
    }

    

    fieldset, input, textarea, select, button{
        border-radius: 5px;
        padding: 5%;
    }

    input, textarea, select, button{
        border-radius: 5px;
        cursor: pointer;
    }


    input[type="submit"]{
       margin-right: 10%;
    }

    input[type="submit"]:hover{
        border-color: #CF3A10;
        background-color: rgba(255, 0, 0, 0.364);
        color: white;
        box-shadow: 4px 1px 7px 1px;
    }

    button[id="return"]{
        margin-left: 10%;
    }
    button[id="return"]:hover{
        border-color: #CF3A10;
        background-color: rgba(255, 0, 0, 0.364);
        color: white;
        box-shadow: 4px 4px 7px 1px;
    }

    .title-page{
        text-align: left;
        text-decoration: underline;
        background-color: #CF3A10;
        border-radius: 5px;
        color: white;
    }

    .title-page h1{
        padding: 2%;
    }

    

    .mv-radio{
        color: white;
    }

    .mv-input{
        width: 100%;
        margin: 1%;
    }

    .mv-select{
        width: 100%;
        margin: 1%;

    }

    .mv-textarea{
        width: 100%;
        margin: 1%;

    }

    .mv-label-checkbox{
        color: white;
    }

    .formulario{
        text-align: center;
    }

    .mv-fieldset-labels{
        text-align: center;
    }

    .mv-fieldset-labels input{
        text-align: right;
    }

}


@media only screen and (max-width: 575px){


    fieldset{
        background-color: #CF3A10;
        box-shadow: 4px 1px 7px 1px;
    }

    fieldset, input, textarea, select, button{
        border-radius: 5px;
        padding: 5%;
    }

    input, textarea, select, button{
        border-radius: 5px;
        cursor: pointer;
    }


    input[type="submit"]{
       margin-right: 10%;
    }

    input[type="submit"]:hover{
        border-color: #CF3A10;
        background-color: rgba(255, 0, 0, 0.364);
        color: white;
        box-shadow: 4px 4px 7px 1px;
    }

    button[id="return"]{
        margin-left: 10%;
    }
    button[id="return"]:hover{
        border-color: #CF3A10;
        background-color: rgba(255, 0, 0, 0.364);
        color: white;
        box-shadow: 4px 4px 7px 1px;
    }

    .title-page{
        text-align: left;
        text-decoration: underline;
        background-color: #CF3A10;
        border-radius: 5px;
        color: white;
    }

    .title-page h1{
        padding: 2%;
    }

    .mv-label{
        display: none;
    }

    .mv-input{
        width: 90%;
        margin: 1%;

    }

    .mv-select{
        width: 100%;
        margin: 1%;

    }

    .mv-textarea{
        width: 90%;
        margin: 1%;

    }

    .mv-label-checkbox{
        color: white;
    }

    .mv-radio{
        color: white;
    }

    .formulario{
        text-align: center;
    }

    .mv-fieldset-labels{
        text-align: left;
    }

    .mv-fieldset-labels input{
        text-align: right;
    }

}