
body{
    font-family: 'CopseRegular';
}

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    grid-template-areas: 
    ". inputs inputs inputs ."
    ". textarea textarea textarea ."
    ". checks checks checks ."
    ". submit submit submit .";
    grid-gap: 10px;
}

.inputs{
    display: grid;
    grid-area: inputs;
}

.textareas{
    display: grid;
    grid-area: textarea;
}

.checkbox{
    display: grid;
    grid-area: checks;
}

.submit{
    display: grid;
    grid-area: submit;
}

.enviado-true{
    display: none;
}

.enviado{

    text-align:center;
    background-color: rgb(0, 190, 0);
    color: white;
    width: 60%;
    margin: auto;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 4px black;
    margin-bottom: 10px;
}


@media only screen and (min-width: 768px){


    main{
        font-size: larger;
    }


    fieldset{
        background-color: #CF3A10;
        box-shadow: 4px 1px 7px 1px;
        text-align: center;
        color: white;
    }

    .input-div, .textarea-div, .select-div{
        display: flex;
        margin: auto;
        text-align: left;
        width: 60%;
        padding: 0%;
    }

    label{
        padding: 2%;
    }
    textarea {
        height: 100px;
    }
    

    fieldset, input, textarea, select, button{
        border-radius: 5px;
        font-size: 17px;
        text-align: center;
    }

    input, textarea, select, button{
        border-radius: 5px;
        cursor: pointer;
    }


    input[type="submit"]{
       margin-right: 10%;
    }

    input[type="submit"]:hover{
        border-color: #CF3A10;
        background-color: rgba(255, 0, 0, 0.364);
        color: white;
        box-shadow: 4px 1px 7px 1px;
    }

    button[id="return"]{
        margin-left: 10%;
    }
    button[id="return"]:hover{
        border-color: #CF3A10;
        background-color: rgba(255, 0, 0, 0.364);
        color: white;
        box-shadow: 4px 4px 7px 1px;
    }

    .title-page{
        text-align: left;
        text-decoration: underline;
        background-color: #CF3A10;
        border-radius: 5px;
        color: white;
    }

    .title-page h3{
        padding: 1%;
    }

    .mv-radio{
        color: white;
    }

    .mv-input{
        width: 70%;
        margin: 1%;
        margin-left: 1%;
    }

    .mv-label{
        width: 30%;
    }

    .mv-select{
        width: 70%;
        margin: 1%;
    }

    .mv-textarea{
        width: 70%;
        margin: 1%;
    }

    .mv-label-checkbox{
        width: 70%;
        color: white;
    }

    .mv-fieldset-labels{
        text-align: center;
    }

    .mv-fieldset-labels input{
        text-align: right;
    }
}



@media only screen and (min-width: 576px) and (max-width: 767px){

    .formulario{
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
        grid-template-areas: 
        "inputs inputs inputs inputs inputs"
        "textarea textarea textarea textarea textarea"
        "checks checks checks checks checks"
        "submit submit submit submit submit";
    }

    .inputs{
        display: grid;
        grid-area: inputs;
    }

    .textareas{
        display: grid;
        grid-area: textarea;
    }

    .checkbox{
        display: grid;
        grid-area: checks;
    }

    .submit{
        display: grid;
        grid-area: submit;
    }
    
    
    fieldset{
        background-color: #CF3A10;
        box-shadow: 4px 1px 7px 1px;
        text-align: center;
        color: white;
    }

    .input-div, .textarea-div, .select-div{
        display: inline-block;
        text-align: left;
        width: 70%;
    }

    

    fieldset, input, textarea, select, button{
        border-radius: 5px;
        padding: 5%;
    }

    input, textarea, select, button{
        border-radius: 5px;
        cursor: pointer;
    }


    input[type="submit"]{
       margin-right: 10%;
    }

    input[type="submit"]:hover{
        border-color: #CF3A10;
        background-color: rgba(255, 0, 0, 0.364);
        color: white;
        box-shadow: 4px 1px 7px 1px;
    }

    button[id="return"]{
        margin-left: 10%;
    }
    button[id="return"]:hover{
        border-color: #CF3A10;
        background-color: rgba(255, 0, 0, 0.364);
        color: white;
        box-shadow: 4px 4px 7px 1px;
    }

    .title-page{
        text-align: left;
        text-decoration: underline;
        background-color: #CF3A10;
        border-radius: 5px;
        color: white;
    }

    .title-page h1{
        padding: 2%;
    }

    .mv-radio{
        color: white;
    }

    .mv-input{
        width: 100%;
        margin: 1%;
    }

    .mv-select{
        width: 100%;
        margin: 1%;

    }

    .mv-textarea{
        width: 100%;
        margin: 1%;

    }

    .mv-label-checkbox{
        color: white;
    }

    .formulario{
        text-align: center;
    }

    .mv-fieldset-labels{
        text-align: center;
    }

    .mv-fieldset-labels input{
        text-align: right;
    }

}


@media only screen and (max-device-width: 575px){

    .formulario{
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
        grid-template-areas: 
        "inputs inputs inputs inputs inputs"
        "textarea textarea textarea textarea textarea"
        "checks checks checks checks checks"
        "submit submit submit submit submit";
    }

    .inputs{
        display: grid;
        grid-area: inputs;
    }

    .textareas{
        display: grid;
        grid-area: textarea;
    }

    .checkbox{
        display: grid;
        grid-area: checks;
    }

    .submit{
        display: grid;
        grid-area: submit;
    }

    fieldset{
        background-color: #CF3A10;
        box-shadow: 4px 1px 7px 1px;
        color: white;
    }

    fieldset, input, textarea, select, button{
        border-radius: 5px;
        padding: 5%;
    }

    input, textarea, select, button{
        border-radius: 5px;
        cursor: pointer;
    }


    input[type="submit"]{
       margin-right: 10%;
    }

    input[type="submit"]:hover{
        border-color: #CF3A10;
        background-color: rgba(255, 0, 0, 0.364);
        color: white;
        box-shadow: 4px 4px 7px 1px;
    }

    button[id="return"]{
        margin-left: 10%;
    }
    button[id="return"]:hover{
        border-color: #CF3A10;
        background-color: rgba(255, 0, 0, 0.364);
        color: white;
        box-shadow: 4px 4px 7px 1px;
    }

    .title-page{
        text-align: left;
        text-decoration: underline;
        background-color: #CF3A10;
        border-radius: 5px;
        color: white;
    }

    .title-page h1{
        padding: 2%;
    }

    .mv-label{
        display: none;
    }

    .mv-input{
        width: 90%;
        margin: 1%;

    }

    .mv-select{
        width: 100%;
        margin: 1%;

    }

    .mv-textarea{
        width: 90%;
        margin: 1%;

    }

    .mv-label-checkbox{
        color: white;
    }

    .mv-radio{
        color: white;
    }

    .formulario{
        text-align: center;
    }

    .mv-fieldset-labels{
        text-align: left;
    }

    .mv-fieldset-labels input{
        text-align: right;
    }

}